<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="akshitak.HelloTestNG"/>
      <class name="akshitak.Assignment2"/>
      <class name="akshitak.Assignment10"/>
      <class name="akshitak.Assignment4"/>
      <class name="akshitak.Assignment3"/>
      <class name="akshitak.Assignment6"/>
      <class name="akshitak.Assignment5"/>
      <class name="akshitak.Assignment8"/>
      <class name="akshitak.Assignment7"/>
      <class name="akshitak.Assignment9"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
